pywin32==308
psutil~=6.1.1
yara-python
pymem==1.14.0
zstandard~=0.23.0
pillow==11.0.0
google==3.0.0
protobuf==4.25.1
soupsieve==2.5
lz4~=4.3.3
requests~=2.32.3
xmltodict~=0.14.2
Crypto~=1.4.1
pycryptodome
cryptography
openpyxl==3.1.5
aiofiles~=24.1.0
dateparser~=1.2.1
beautifulsoup4~=4.12.3
lxml~=5.3.1
typing_extensions~=4.12.2
pysilk-mod==1.6.4